<div class="<%= colClass || 'col-sm-6' %>">
  <label class="form-label"><%= label || 'Search' %></label>
  <input name="<%= name || 'q' %>" class="form-control" placeholder="<%= placeholder || '' %>" value="<%= value || '' %>">
</div>
